
production:
  sentry_dsn: http://example.com/...

  database:
    host: localhost
    database: travis_production
    username: <%= ENV['USER'] %>
  amqp:
    host: localhost
    port: 5672
    username: travisci_worker
    password: travisci_worker_password
    vhost: travisci.development


development:
  log_level: :debug
  origin_whitelist: '*'
  allowed_origin: '*'
  log_file_storage_path: /var/log/travis-logs-storage
  database:
    database: travis_development
    username: <%= ENV['USER'] %>
  amqp:
    host: localhost
    port: 5672
    username: travisci_worker
    password: travisci_worker_password
    vhost: travisci.development

test:
  log_level: :warn
  log_file_storage_path: /tmp
  database:
    host: localhost
    database: travis_test
    username: <%= ENV['USER'] %>
  amqp:
    host: localhost
    port: 5672
    username: travisci_worker
    password: travisci_worker_password
    vhost: travisci.development


